<h1>Civil 3D Cut Fill Report Generator</h1>
<section>
  <form action="#"
        method='post'
        id="form-uploader"
        class="form-vertical"
        enctype="multipart/form-data">
    <legend class="form-title">Uploader</legend>
    <div class="file-explorer">
      <label for="search-file" class="file-explorer-label">
        <span>Choose files</span>
      </label>
      <input
        type="file"
        id="search-file"
        name="search-file"
        class="file-explorer-input"
        multiple
        required>
    </div>
    <button class="btn" type="submit">Upload</button>
  </form>
</section>
<section id="more-actions">
  <button class="btn --disable" id="download-btn" disabled>Download XLS</button>
</section>
<section id="container-files">
  <ul id="choosen-files"></ul>
</section>
