<h1>Civil 3D Cut Fill Report Generator</h1>
<section>
  <form action="#" method='post' id="form-uploader" enctype="multipart/form-data">
    <legend>Uploader</legend>
    <label for="search-file"></label>
    <input type="file" id="search-file" name="search-file" multiple required>
    <br>
    <button class="btn" type="submit">Upload</button>
  </form>
</section>
<section id="more-actions">
  <button class="btn --disable" id="download-btn" disabled>Download XLS</button>
</section>
<section id="container-files">
  <ul id="choosen-files"></ul>
</section>
