.file-explorer {
  display: inline-block;
  border: thin solid var(--clr-primary);
  padding: var(--sp-default) 0;
  border-radius: var(--rad-default);
}

.file-explorer-label {
  background-color: var(--clr-default);
  border-radius: var(--rad-default);
  color: var(--clr-contrast);
  cursor: pointer;
  font-family: var(--font);
  padding: var(--sp-default) 0;
}

.file-explorer-label:after {
  content: 'Browser';
  background-color: var(--clr-primary);
  border: thin solid var(--clr-secondary);
  border-radius: var(--rad-default);
  color: var(--clr-default);
  font-size: var(--fs-default);
  padding: var(--sp-default);
}

.file-explorer-input {
  display: none;
}

.file-explorer-label:hover {
  box-shadow: 0 0  var(--sdw-large) var(--clr-secondary);
  cursor: pointer;
}

.file-explorer-label:active {
  background-color: var(--clr-secondary);
  box-shadow: 0 0  var(--sdw-default) var(--clr-contrast) inset;
}