:root {
  --clr-primary: #189AB4;
  --clr-secondary: #75E6DA;
  --clr-default: #D4F1F4;
  --clr-contrast: #05445E;

  --font: Helvetica, Arial, sans-serif;

  --fs-small: 14px;
  --fs-default: 16px;
  --fs-large: 25px;
  
  --sdw-small: 1px;
  --sdw-default: 2px;
  --sdw-large: 3px;

  --sp-small: 2px;
  --sp-default: 5px;
  --sp-large: 10px;

  --rad-small: 3px;
  --rad-default: 8px;
  --rad-large: 15px;
}

.btn {
  background-color: var(--clr-primary);
  border: thin solid var(--clr-secondary);
  border-radius: var(--rad-default);
  color: var(--clr-default);
  font-size: var(--fs-default);
  padding: var(--sp-default);
}

.btn:hover {
  background-color: var(--clr-contrast);
  cursor: pointer;
}

.btn:active {
  background-color: var(--clr-contrast);
  box-shadow: 0 0  var(--sdw-default) var(--clr-default) inset;
}

.btn.--disable {
  background-color: var(--clr-default);
  color: var(--clr-primary);
}

.btn.--disable:hover {
  background-color: var(--clr-default);
  cursor: not-allowed;
}

.btn.--disable:active {
  background-color: var(--clr-default);
}
